
.cont-films {
    height: 152.5rem;
    background-image: url(images/jack-background-2.jpg);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 37.5rem auto;
}

.kop-imgA {
    background-image: url(images/blackpearl3.jpg);
    background-size: 100% 102.5%;
}
.kop-imgA::before {
    background-image: url(images/blackpearl3.jpg);
    background-size: 100% 102.5%;   
}
.kop-imgA::after {
    background-image: url(images/blackpearl3.jpg);
    background-size: 100% 102.5%;  
}

.cont-films .personages {
    font-size: 2rem;
    margin-left: 0;
    color: antiquewhite;
    text-align: left;
    text-shadow: 2.5px -2.5px 5px black, -5px 5px 2.5px rgba(255, 0, 0, 0.75);
}

.cont-films .films-text-main {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

.cont-films .films-text-1 {
    width: 100%;
    font-size: 1.25rem;
    text-shadow: 0 0 5px black;
    margin-left: 10%;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.cont-films .films-text-2 {
    width: 75%;
    font-size: 1.25rem;
    text-shadow: 0 0 5px black;
    margin-left: 15%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}